@model DataPodishetty.Models.Location

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateAbbreviation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateAbbreviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.LocationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
<div id="map_canvas" class="col-xs-12" style="min-height: 400px; ">
</div>

@section Scripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        <!-- http://dotnetdevtricks.blogspot.com/2012/10/google-map-api-v3-with-mvc4-razor.html -->

        $(document).ready(function () {
            initialize();
        });
        function initialize() {
            var title ='@(Model.Place)';
            var lat = @Model.Latitude;
            var long = @Model.Longitude;
            var mapOptions = {
                center: new google.maps.LatLng(lat,long),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

            var latlng = new google.maps.LatLng(lat, long);
            var marker = new google.maps.Marker({
                position: latlng,
                title:  title,
                map: map,
                draggable: false
            });
        }
    </script>
}
