@model DataPodishetty.Models.Theater

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Theater</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moviename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Moviename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Theatername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theatername)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.TheatreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
